<robot name="scara_robot_simple">

  <!-- * * * Link Definitions * * * -->

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="0.2"/>
      </geometry>
      <material name="Yellow">
        <color rgba="0.9 0.9 0 1.0"/>
      </material>
    </visual>
  </link>

  <link name="link1">
    <visual>
      <origin xyz="0.3 0 0.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.2 0.05"/>
      </geometry>
      <material name="Magenta">
        <color rgba="0.9 0 0.9 1.0"/>
      </material>
    </visual>
  </link>

  <link name="link2">
    <visual>
      <origin xyz="0.2 0 0.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.2 0.05"/>
      </geometry>
      <material name="Cian">
        <color rgba="0 0.9 0.9 1.0"/>
      </material>
    </visual>
  </link>

  <link name="link3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="0.3"/>
      </geometry>
     <material name="Blue">
       <color rgba="0 0 0.9 1.0"/>
     </material>
    </visual>
  </link>

  <link name="link4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.04"/>
      </geometry>
      <material name="White">
        <color rgba="0.9 0.9 0.9 1.0"/>
      </material>
    </visual>
  </link>

  <!-- * * * Joint Definitions * * * -->

  <joint name="joint1" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="10" velocity="3"/>
  </joint>

  <joint name="joint2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0.6 0 0.05" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="10" velocity="3"/>
  </joint>

  <joint name="joint3" type="prismatic">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0.3 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.08" upper="0.12" effort="10" velocity="3"/>
  </joint>

  <joint name="joint4" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz="0 0 -0.15" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="3"/>
   </joint>

</robot>
