<?xml version="1.0"?>
<launch>
  <include file="$(find scara_test_description)/launch/upload_scara_test.launch" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
